<div class="imgcontainer">
  <h1 class="cyan-text center">Welcome {{admin_name}}</h1>
</div>
<div class = "officer" style='text-align: center;'>
  <a class="waves-effect waves-light btn-large center" href = "update_officer"> Insert Officer Records </a><br><br>
  <a class="waves-effect waves-light btn-large center" href = "officer_details"> View Officer Details </a><br><br>
  <a class="waves-effect waves-light btn-large center" href = "officer_transfer"><span class="new badge red center">{{count}}</span><span> Update Requests </span></a><br><br>
  <a class="waves-effect waves-light btn-large center" href = "logout">Logout</a><br><br>
</div>
