<div class="imgcontainer">
  <h1 class="cyan-text center">Customs Management System</h1>
</div>

<div class="container">
  <h3 class="center white-text">CASH</h3>

<table align:"center" cellpadding="7" cellspacing="7" class="bordered">
  <tr>
    <th width="50px">No</th>
    <th>Cash Carried(in dollars)</th>
    <th>Penalty(in dollars)</th>
  </tr>
<tr>
    <td>1</td>
    <td>Upto 1000</td>
    <td>
    No Penalty
    </td>
</tr>
<tr>
    <td>2</td>
    <td>1000 - 2000</td>
    <td>
    100
    </td>
</tr>
<tr>
    <td>3</td>
    <td>2000 - 3000</td>
    <td>
200      </td>
</tr>
<tr>
    <td>2</td>
    <td>3000 - 4000</td>
    <td>
    300
    </td>
</tr>
<tr>
    <td>2</td>
    <td>4000 - 5000</td>
    <td>
    400
    </td>
</tr>
</table>
<br>
<div class="imgcontainer">
  <h5 class="cyan-text" id="sum">If the passenger is carrying more than 5000 dollars, the passenger will be detained</h5><br><br>
</div>

<br>
<h3 class="center white-text">GOLD</h3>

<table align:"center" cellpadding="7" cellspacing="7" class="bordered">
  <tr>
    <th width="50px">No</th>
    <th>Gold Carried(in grams)</th>
    <th>Penalty(in dollars)</th>
  </tr>
<tr>
    <td>1</td>
    <td>Upto 100</td>
    <td>
    No Penalty
    </td>
</tr>
<tr>
    <td>2</td>
    <td>100 - 200</td>
    <td>
    100
    </td>
</tr>
<tr>
    <td>3</td>
    <td>200 - 400</td>
    <td>
300      </td>
</tr>
<tr>
    <td>2</td>
    <td>400 - 700</td>
    <td>
    500
    </td>
</tr>
<tr>
    <td>2</td>
    <td>700 - 1000</td>
    <td>
    700
    </td>
</tr>
</table>
<div class="imgcontainer">
  <h5 class="cyan-text" id="sum">If the passenger is carrying more than 1000 grams of gold, the passenger will be detained</h5><br><br>
</div>
<br>
<h3 class="center white-text">ANIMAL</h3>
<table align:"center" cellpadding="7" cellspacing="7" class="bordered">
  <tr>
    <th width="50px">No</th>
    <th>Animal being Carried</th>
    <th>Penalty(in dollars)</th>
    <th>Detainment</th>
  </tr>
<tr>
    <td>1</td>
    <td>DOG</td>
    <td>
    100
    </td>
    <td>No</td>
</tr>
<tr>
    <td>2</td>
    <td>CAT</td>
    <td>
    100
    </td>
    <td>No</td>
</tr>
<tr>
    <td>3</td>
    <td>TURTLE</td>
    <td>
    500
    </td>
    <td>Yes</td>
</tr>
<tr>
    <td>4</td>
    <td>MONKEY</td>
    <td>
    700
    </td>
    <td>Yes</td>
</tr>
</table>

<br>
<a href = '/' class="btn waves-light waves-effect center">Go Back
  <i class="material-icons left">arrow_back</i>
</a>
<br>
<br>
<br>
<br>

</div>
