<div class="imgcontainer">
  <h5 class="cyan-text">Passport Number : {{passportNo}}</h5>
  <h5 class="cyan-text">Penalty : {{penalty}}</h5>
</div>

<a href="/correct_credentials_officer" class="btn waves-light waves-effect center">Go Back
  <i class="material-icons left">arrow_back</i>
</a>
