<div class="imgcontainer">
  <h1 class="cyan-text center">Welcome {{officer_name}}</h1>
  <h4 class="cyan-text center"> {{city}} Airport</h4>
</div>
<br>
<br>
<div class = "officer" style='text-align: center;'>
  <a class="waves-effect waves-light btn-large center" href = "update_passenger"> Insert Passenger Records </a><br><br>
  <a class="waves-effect waves-light btn-large center" href = "check_luggage"> Check Luggage Of Passengers </a><br><br>
  <a class="waves-effect waves-light btn-large center" href = "criminal_details"> View Criminal Details </a><br><br>
  <a class="waves-effect waves-light btn-large center" href = "payment_details"> Print Payment Details </a><br><br>
  <a class="waves-effect waves-light btn-large center" href = "update_request"> Request Update </a><br><br>
  <a class="waves-effect waves-light btn-large center" href = "max_penalty"> Maximum Penalty </a><br><br>
  <a class="waves-effect waves-light btn-large center" href = "logout">Logout</a><br><br>
</div>
