<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="http://localhost:3000/css/home.css">
</head>
<body>

<div class="navbar">
  <a href="#home">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Options
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/admin">Admin</a>
      <a href="/immigration">Passenger Update</a>
      <a href="#">Link 3</a>
    </div>
  </div>
</div>

<h3>CUSTOMS MANAGEMENT SYSTEM</h3>

</body>
</html>
